.gameResult {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.75);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    max-width: 500px;
    padding: 3rem;  
    gap: 2rem;
}

.gameResult__result {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
}

.gameresult__done {
    color: #8fb935;
}

.gameresult__loss {
    color: red;
}

.gameresult__action {
    color: black;
    background-color: #efefefe8;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
}

.gameresult__exit {
    font-weight: 600;
    color: white;
}