.stage {
  color: rgb(94, 94, 94);
  height: 340px;
  background-color: #efefef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage__mistakes {
  text-align: center;
}

.stage__words {
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.stage__timer-bar {
  width: 100%;
  height: 8px;
  background-color: grey;
  margin: 0;
}

.stage__timer-fill {
  width: 100%;
  height: 8px;
  background-color: #8fb935;
}

.stage__stats {
  display: flex;
  gap: 2rem;
}

.stage__timer {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.stage__target {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.stage__correct {
  font-size: 3rem;
  font-weight: 700;
  color: #8fb935;
  margin-top: 1rem;
}