.stage {
  color: var(--text-accent);
  height: 360px;
  background-color: var(--background-secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage__mistakes {
  text-align: center;
}

.stage__words {
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.stage__timer-bar {
  width: 100%;
  height: 8px;
  background-color: var(--accent-secondary);
  margin: 0;
}

.stage__timer-fill {
  width: 100%;
  height: 8px;
  background-color: var(--accent);
}

.stage__statistics {
  display: flex;
  gap: 2rem;
}

.stage__timer {
  font-size: 1rem;
  margin-top: 0.3rem;
}

.stage__target {
  font-size: 1rem;
}

.stage__correct {
  font-size: 4rem;
  font-weight: 700;
  color: var(--accent);
  margin-top: 1rem;
}

