.intro {
    color: var(--text-accent);
    height: 360px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.intro__image {
    width: 50px;
    height: 50px;
}

li {
    list-style: none;
    text-align: left;
    color: var(--text-secondary);
}

ul {
    background-color: var(--accent);
    padding: 1rem;
    border-radius: 10px;
}

.intro__start-button {
    border: none;
    border-radius: 8px;
    background-color: var(--accent);
    padding: 1rem;
    font-size: 1.5rem;
}