@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --background-primary: rgb(244, 248, 243);
  --background-secondary: #efefef;
  --background-overlay: rgba(1, 1, 1, 0.73);
  --accent: #8fb935;
  --accent-secondary: grey;
  --text-primary: #1f2403;
  --text-secondary: white;
  --text-accent: grey;
  --mistake: #e64747;
  --first-letter: white;
}

:root[data-theme='dark'] {
  --background-primary: #476462;
  --background-secondary: #192f2d;
  --background-overlay: rgba(6, 6, 6, 0.909);
  --accent: #8fb935;
  --accent-secondary: grey;
  --text-primary: white;
  --text-secondary: white;
  --text-accent: white;
  --mistake: #e64747;
  --first-letter:  #1b2625;
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

button {
  -webkit-appearance: none;
  appearance: none;
  color: var(--text-primary);
  cursor: pointer;
  transition: transform 0.2s ease;
}


button:hover {
    transform: scale(1.05);
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #ffb400;
  border-radius: 4px;  
  outline-offset: 1px;
}

h1 {
  color: var(--text-primary);
}


.theme-switch-wrapper {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: var(--text-primary);
}