@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

button {
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #ffb400;
  border-radius: 4px;  
  outline-offset: 1px;
}
